
.form-group{
    margin-bottom: 1rem;
}

.buttons{
    margin-top: 1rem;
    text-align: end;
}

.links{
    margin-bottom: 1rem;
}

.tag{
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.badge-secondary{
    background-color: #6c757d;
}

.card{
    margin-bottom: 1rem !important;
}

.action-buttons{
    display: inline-flex;
    padding-left: 0 !important;
    list-style-type: none;
    li{
        margin-right: 5px;
    }
}
